html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
  color: grey;
  font-family: Roboto;
  font-size: 150%;
  background-color: transparent;
}
#map {
  height: 100%;
}
